@font-face 
  font-family: 'p-music'
  src:  url('../fonts/p-music.eot?r43uj5')
  src:  url('../fonts/p-music.eot?r43uj5#iefix') format('embedded-opentype'),
    url('../fonts/p-music.ttf?r43uj5') format('truetype'),
    url('../fonts/p-music.woff?r43uj5') format('woff'),
    url('../fonts/p-music.svg?r43uj5#p-music') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'p-music' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-shrink2:before 
  content: "\e98c"

.icon-list1:before 
  content: "\e9bb"

.icon-loop-m-:before 
  content: "\e905"
  color: #444
  font-size: 18px

.icon-add-:before 
  content: "\e906"
  color: #fff

.icon-list-:before 
  content: "\e908"
  color: #444
  font-size: 18px

.icon-list1-:before 
  content: "\e911"
  color: #fff

.icon-sequence-m-:before 
  content: "\e912"
  color: #444
  font-size: 18px

.icon-random-m-:before 
  content: "\e913"
  color: #444
  font-size: 18px

.icon-music-:before 
  content: "\e902"
  color: #fff

.icon-close-:before 
  content: "\e904"
  color: #fff
  font-weight 700
  font-size 18px

.icon-prev-:before 
  content: "\e900"
  color: #fff

.icon-next-:before 
  content: "\e901"
  color: #fff

.icon-download-:before 
  content: "\e903"
  color: #444

.icon-minimize-:before 
  content: "\e907"
  color: #fff
  font-weight 700

.icon-music_1:before 
  content: "\e909"
  color: #444

.icon-music-menu-:before 
  content: "\e90a"
  color: #444
  font-weight 700
  font-size: 14px

.icon-pause-:before 
  content: "\e90b"
  color: #fff

.icon-play-:before 
  content: "\e90c"
  color: #fff

.icon-radio-waves-:before 
  content: "\e90d"
  color: #444
  font-weight 600
  font-size 16px

.icon-share-:before 
  content: "\e90e"

.icon-maximize-:before 
  content: "\e90f"
  color: #fff
  font-size: 18px

.icon-down-:before 
  content: "\e910"
  color: #fff

.icon-search:before 
  content: "\e986"

.icon-list:before 
  content: "\e9bb"

.icon-star-empty:before 
  content: "\e9d7"

.icon-star:before 
  content: "\e9d9"

.icon-heart:before 
  content: "\e9da"

.icon-play:before 
  content: "\ea1c"

.icon-previous:before 
  content: "\ea23"

.icon-next:before 
  content: "\ea24"

.icon-volume-high:before 
  content: "\ea26"
  color #444

.icon-volume-medium:before 
  content: "\ea27"
  color #444

.icon-volume-low:before 
  content: "\ea28"
  color #444

.icon-volume-mute:before 
  content: "\ea2a"
  color #444

.icon-arrow-left:before 
  content: "\ea40"

