/* color */
$bgColor-red = #f14545
$bgColor-darkred = rgb(232, 60, 60)

$color-white-a = #f0f0f0
$color-white-b = #d7d7d7
$color-gray-a = #cccccc

$font-size-s = 14px
$font-size-m = 18px

$logo-size = 20px


$border-color = rgba(7, 17, 27, 0.1)